<h1 id="p">
    {{message}}
</h1>

<div class="container my-4">
    <label> Id</label>
    <input class="form-control" type="text" [(ngModel)]="id" placeholder="ID" aria-label="Disabled input example"
        disabled>
    <br>

    <label> Name</label>
    <input class="form-control form-control-sm" type="text" [(ngModel)]="user.name" placeholder="NAME" aria-label=".form-control-sm example"> 
    <br>
    <label> Surname</label>
    <input class="form-control form-control-sm" type="text" [(ngModel)]="user.surname" placeholder="SURNAME" aria-label=".form-control-sm example">
    <br>
    <label> Email</label>
    <input class="form-control form-control-sm" type="text"  [(ngModel)]="user.email" placeholder="EMAIL" aria-label=".form-control-sm example">
    <br>
    <button class="nes-btn is-success" (click)="addOrUpdateUser(user)">
        Save
    </button>

</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>